@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@600;900&display=swap');
@import "reset.css";
@import "statusbar.css";
@import "video.css";

body {
  font-family: 'Noto Sans Mono', monospace;
 
} 

.welcome-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.welcome-header__title {
  margin-bottom: 40px;
  font-size: 25px;
  font-weight: 900;
}

.welcome-header__text {
  width: 50%;
  opacity: 0.7;

}

.login-form {
  display: flex;
}